.hidden {
  display: none;
} /* Utility class to hide sections */

.selected {
  border-b-2 border-black;
}

.verified-badge {
  background-color: #4299e1; /* Tailwind bg-blue-500 */
  color: #ffffff; /* Tailwind text-white */
  padding: 2px 8px; /* Tailwind px-2 py-1 */
  border-radius: 9999px; /* Tailwind rounded-full */
  font-size: 0.75rem; /* Tailwind text-sm */
  margin-left: 8px; /* Tailwind ml-2 */
  vertical-align: middle; /* Align with text */
}
